@model IEnumerable<Inmobiliaria.Models.TipoInmueble>

<h2>Tipos de Inmuebles</h2>
<a class="btn btn-primary mb-3" asp-action="Create">Nuevo Tipo</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var t in Model)
    {
        <tr>
            <td>@t.Nombre</td>
            <td>
                <a asp-action="Details" asp-route-id="@t.Id" class="btn btn-info btn-sm">Detalles</a>
                @if (User.IsInRole("Administrador")){
                <a asp-action="Edit" asp-route-id="@t.Id" class="btn btn-warning btn-sm">Editar</a>
                <a asp-action="Delete" asp-route-id="@t.Id" class="btn btn-danger btn-sm">Eliminar</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
