@model Inmobiliaria.Models.Inquilino

<h2>Detalles de Inquilino</h2>
<div>
    <p><strong>DNI:</strong> @Model.DNI</p>
    <p><strong>Nombre:</strong> @Model.Nombre</p>
    <p><strong>Apellido:</strong> @Model.Apellido</p>
    <p><strong>Contacto:</strong> @Model.Contacto</p>
</div>
<a asp-action="Index" class="btn btn-secondary">Volver</a>

